body {
    height: 100vh;
    width: 100vw;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 800px;
    width: 800px;
    grid-gap:10px;

}

.tile {
    background-color: rgb(34, 78, 23);
    height: 100%;
    width: 100%;
}